<!-- Your dynamic dialog content goes here -->
<div class="my-1 ">
  <form>

    <div class="mb-3">
      <label for="Titleinput" class="form-label fw-bold">Title</label>
      <input type="text" class="form-control" name="card-title" [(ngModel)]="titlevalue" id="Titleinput"
        autocomplete="off">
    </div>

    <div class="mb-3">
      <label for="Discriptioninput" class="form-label fw-bold">Discription</label>
      <input type="text" class="form-control" name="card-discription" [(ngModel)]="descvalue" id="Discriptioninput"
        autocomplete="off">
    </div>

    <div class="mb-3 d-flex gap-1" *ngIf="isAddMode==false">
      <label for="exampleInputPassword1" class="form-label  fw-bold align-self-center ">List Name:</label>
      <select class="form-select w-25  "  name="listname" [(ngModel)]="selectedlistname.key">
        <option *ngFor="let item2 of lists" [value]="item2.key">{{item2.name}}</option>
      </select>
    </div>

    <div class="mb-3 d-flex gap-1" *ngIf="isAddMode==true">
      <label for="listdata" class="form-label fw-bold align-self-center ">Card Name:</label>
      <input type="text" class="form-control w-25 " [disabled]="isAddMode==true"  name="listdata" [value]="selectedlistname" id="listdata">
    </div>

    <div class="text-end">
      <!-- Show the "Add" button when isAddMode is false -->
      <button *ngIf="!isAddMode" class="btn btn-warning  " (click)="Updatetodo()">Update Card</button>

      <!-- Show the "Update" button when isAddMode is true -->
      <button *ngIf="isAddMode" class="btn btn-warning  " (click)="addcardinlist()">Add Card</button>
    </div>
  </form>
</div>