
    <!-- Your dynamic dialog content goes here -->
    <div class="my-3 ">
        <form>
            
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Value</label>
              <input type="text" class="form-control" [value]="Tvalue" id="exampleInputPassword1">
            </div>
           
            <div class="text-end"> <!-- Add this class to align the button to the right -->
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
    </div>
