<div class="card bg-success   border-black">
    <div class="card-title bg-success-subtle  border-black rounded ">
        <h3 class="py-2 fw-bold ">{{curruntlist.name}}</h3>
    </div>

    

    <div class="card-body placeholder-wave mt-2  mx-3  p-0  " *ngFor="let item of currunttodos" >
        <app-todoitems [curruntlist]="curruntlist" [items]="item" (tododelete)="deleletodo($event)">
        </app-todoitems>
    </div>

    <div class="card  placeholder-wave mt-2  mx-3 text-start  ">
        <div class=" btn btn-success text-dark  border-success-subtle  bg-success-subtle  text-center " 
        (click)="Addtodo(curruntlist)"><i class="pi pi-plus"></i> Add Card</div>
    </div>

    <div class="mb-3">

    </div>
</div>