<div class="card d-flex  flex-row justify-content-between bg-dark-subtle overflow-hidden ">
  <div class=" text-center d-flex align-content-center  mt-4 mx-2">
    <!-- TodoItems Value is here -->
    <p class="fw-bolder ">{{items.value}}</p>
  </div>
  <div class="op  d-flex mt-2 ">
    <!-- Update Button Here -->
    <div class="form mx-1 mt-2">
      <select class="form-select " [(ngModel)]="selectedvalue" (ngModelChange)="onupdate(items.id)">
          <option *ngFor="let item2 of oplist" [value]="item2.key">{{item2.name}}</option>
      </select>
  </div>

    <!-- Delete Button Here -->
    <div class="btn mt-2" (click)="ondelete(items.id)">
      <a class=" text-danger text-decoration-none deletebtn">X</a>
    </div>
  </div>
</div>

