
:host ::ng-deep{

.p-dropdown-clearable{
    background-color: aqua;
    width: 450px;
    height: 40px;
    align-items: center;
        
}
.p-dropdown-label{
    color: black;
}







.p-dropdown-items{
    padding: 0% !important;
}
.p-dropdown-item{
    background-color: teal;
    color: black;
    }

}