<div class="topmenuwrapper">
<p-menubar [model]="main_manu_item" class="">
    <ng-template pTemplate="start" class="align-self-auto ">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="30" class="" />
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search" />
        <div class="CurruntUser mx-2  align-self-center d-flex " (click)="menu.toggle($event)">
            <div class="usermenuwrapper" >
                <p-tieredMenu #menu [model]="user_menu" [popup]="true"></p-tieredMenu>
                <label>HO</label>
            </div>
        </div>
    </ng-template>
    
</p-menubar>
</div>