<div class="boardmenuwrapper">
    <p-menubar class="">
        <ng-template pTemplate="start" class="">
            <div class="boardtitle">
                <label>Todos Project</label>
            </div>

            <div class="Favorite">
                <i [class]="isfavorite?'pi pi-star':'pi pi-star-fill'" (click)="onclickfavorite()"></i>
            </div>

            <div class="WorkSpace">
                <label class="m-1 "><i class="pi pi-fw pi-user"></i> Workspace</label>
            </div>

        </ng-template>
        <ng-template pTemplate="end">
            <div class="boardmembers mx-2  align-self-center d-flex ">
                <label for="">HO</label>
            </div>
        </ng-template>
    </p-menubar>
</div>